<html>
	<head>
		<title>reboxed</title>
		<link rel="stylesheet" href="/assets/reboxed.css" type="text/css">
	</head>
	<body>
		<div class="nav">
			<div class="search">
				<form>
					<input type="search" name="search" onclick="window.location='gmod\://startspawnmenufocus/'" onmouseout="window.location='gmod\://endspawnmenufocus/'">
					<input type="submit" value="Go!">
				</form>
			</div>
			{{if or (not .InGame) (ne .Category "map")}}
				<a href="/browse/entities">Entities</a>
				<a href="/browse/weapons">Weapons</a>
				<a href="/browse/props">Props</a>
				<a href="/browse/saves">Saves</a>
			{{end}}
			{{if not .InGame}}
				<a href="/browse/maps">Maps</a>
			{{end}}
		</div>
		<div class="content">
			{{if and (.InGame) (.Category | eq "savemap")}}
			<div class="savetools">
				<a href="garrysmod://action/save">Save Current Map</a>
				<a href="garrysmod://action/clean">Clean Current Map</a>
			</div>
			{{end}}
			{{if ne .Search ""}}
				<h1>Searched for {{.Search}}</h1>
			{{end}}
			{{range .Packages}}
				{{if and ($.InGame) (eq $.Category "savemap") (ne $.MapName .Dataname)}}
					{{continue}}
				{{end}}
				<div class="item">
					<a href="garrysmod://{{if (eq .Type "map")}}install{{else}}spawn{{end}}/{{.Type}}/{{.ID}}/{{.Revision}}">
						<div class="thumb" style="background-image: url(//img.reboxed.fun/{{.ID}}_thumb_128.png), url(//img.reboxed.fun/no_thumb_128.png);">
							<img src="//img.reboxed.fun/overlay_128.png">
						</div>
						{{.Name}}
					</a>
				</div>
			{{end}}
		</div>
		<div class="pagenav">
			<a href="{{.PrevLink}}">Previous</a>{{.PageNum}}<a href="{{.NextLink}}">Next</a>
		</div>
	</body>
</html>
