<html>
	<head>
		<title>reboxed</title>
		<link rel="stylesheet" href="/assets/reboxed.css">
	</head>
	<body>
		<div class="nav">
			<span id="logo">reboxed</span>
			{{if or (not .InGame) (.Category | ne "map")}}
				<a href="/browse/entities">Entities</a>
				<a href="/browse/weapons">Weapons</a>
				<a href="/browse/props">Props</a>
				<a href="/browse/saves">Saves</a>
			{{end}}
			{{if not .InGame}}
				<a href="/browse/maps">Maps</a>
			{{end}}
		</div>
		{{if .Category | eq "savemap"}}
			<div class="savetools">
				<a href="garrysmod://action/save">Save Current Map</a>
				<a href="garrysmod://action/clean">Clean Current Map</a>
			</div>
		{{end}}
		<div class="items">
			{{range .Packages}}
				<div class="item">
					<a href="garrysmod://{{if (.Type | eq "map")}}install{{else}}spawn{{end}}/{{.Type}}/{{.ID}}/{{.Revision}}">
						<div class="thumb" style="background-image: url(//img.reboxed.fun/{{.ID}}_thumb_128.png), url(//img.reboxed.fun/no_thumb_128.png);">
							<img src="//img.reboxed.fun/overlay_128.png">
						</div>
						{{.Name}}
					</a>
				</div>
			{{end}}
		</div>
		<div class="pagenav">
			<a href="{{.PrevLink}}">Previous</a>{{.PageNum}}<a href="{{.NextLink}}">Next</a>
		</div>
	</body>
</html>
