<html>
	<head>
		<title>reboxed</title>
		<link rel="stylesheet" href="/assets/reboxed.css" type="text/css">
	</head>
	<body>
		<div class="header">
			{{if or (not .InGame) (ne .Category "map")}}
				<ul>
					{{if .InGame}}
						<li><a href="/browse/mine"><div class="navbutton" id="mine"></div><br>Mine</a>
					{{end}}
					<li><a href="/browse/entities"><div class="navbutton" id="entity"></div>Entities</a>
					<li><a href="/browse/weapons"><div class="navbutton" id="weapon"></div>Weapons</a>
					<li><a href="/browse/props"><div class="navbutton" id="prop"></div>Props</a>
					<li><a href="/browse/saves"><div class="navbutton" id="savemap"></div>Saves</a>
					{{if not .InGame}}
						<li><a href="/browse/maps"><div class="navbutton" id="map"></div>Maps</a>
					{{end}}
				</ul>
			{{end}}
			<div class="logo">
				<img src="/assets/rustmb/logo.png">
			</div>
			<div class="search">
				<form>
					<input id="searchbox" name="search" placeholder="Search" onclick="window.location='gmod\://startspawnmenufocus/'" onmouseout="window.location='gmod\://endspawnmenufocus/'">
				</form>
			</div>
		</div>
		<div class="underheader"></div>
		<div class="content">
			{{if and (.InGame) (.Category | eq "savemap")}}
			<div class="savetools">
				<a href="garrysmod://action/save">Save Current Map</a>
				<a href="garrysmod://action/clean">Clean Current Map</a>
			</div>
			{{end}}
			{{if ne .Search ""}}
				<h1>Searched for {{.Search}}</h1>
			{{end}}
			{{range .Packages}}
				{{if and ($.InGame) (eq $.Category "savemap") (ne $.MapName .Dataname)}}
					{{continue}}
				{{end}}
				<div class="item">
					<a href="garrysmod://{{if (eq .Type "map")}}install{{else}}spawn{{end}}/{{.Type}}/{{.ID}}/{{.Revision}}">
						<div class="thumb" style="background-image: url(//img.reboxed.fun/{{.ID}}_thumb_128.png), url(//img.reboxed.fun/no_thumb_128.png);">
							<img src="/assets/rustmb/border{{randborder}}.png">
						</div>
						{{.Name}}
					</a>
				</div>
			{{end}}
		</div>
		<div class="footer">
			<a href="{{.PrevLink}}"><div class="pagebutton" id="prev"></div></a>
			{{.PageNum}}
			<a href="{{.NextLink}}"><div class="pagebutton" id="next"></div></a>
		</div>
		<div class="underfooter"></div>
	</body>
</html>
