body {height: 100%; margin: 0px; font-family: Helvetica; background-color: #B8E3FF; color: #333; display: -webkit-box; -webkit-box-orient: vertical;}
a {color: #333; text-decoration: none;}
a:hover {color: #FFF;}
h1 {margin-left: 10px;}

.header {width: 100%; background-color: #4096ee; display: -webkit-box; overflow: hidden;}

.navbar a {width: 64px; height: 50px; float: left; overflow: hidden; font-size: 11px; text-align: center; margin-top: 10px; margin-left: 4px; font-weight: bolder; text-decoration: none; background-size: contain; background-size: 32px 32px; background-repeat: no-repeat; background-position: center 0px;}
.navbar .navicon {width: 32px; height: 32px; margin-bottom: 2px; display: inline-block;}
.navbar .disabled {opacity: 0.25; pointer-events: none;}

.subbar {margin-left: 12px;}
.subbar a {float: left; font-size: 16px; margin-right: 12px; margin-top: 4px; margin-bottom: 4px; font-weight: bolder; text-decoration: none; background-repeat: no-repeat; background-size: contain; height: 16px;}
.subbar span {margin-left: 20px;}
.subbar .disabled {opacity: 0.25; pointer-events: none;}

#mine {background-image: url('/assets/rustmb/mine.png');}
#mine:hover, #mine.active {background-image: url('/assets/rustmb/mine_hover.png');}
#entity {background-image: url('/assets/rustmb/entity.png');}
#entity:hover, #entity.active {background-image: url('/assets/rustmb/entity_hover.png');}
#weapon {background-image: url('/assets/rustmb/weapon.png');}
#weapon:hover, #weapon.active {background-image: url('/assets/rustmb/weapon_hover.png');}
#prop {background-image: url('/assets/rustmb/prop.png');}
#prop:hover, #prop.active {background-image: url('/assets/rustmb/prop_hover.png');}
#savemap {background-image: url('/assets/rustmb/savemap.png');}
#savemap:hover, #savemap.active {background-image: url('/assets/rustmb/savemap_hover.png');}
#map {background-image: url('/assets/rustmb/map.png');}
#map:hover, #map.active {background-image: url('/assets/rustmb/map_hover.png');}

#prev {background-image: url('/assets/rustmb/leftarrow.png')}
#prev:hover {background-image: url('/assets/rustmb/leftarrow_hover.png')}
#next {background-image: url('/assets/rustmb/rightarrow.png')}
#next:hover {background-image: url('/assets/rustmb/rightarrow_hover.png')}

#newest {background-image: url('/assets/rustmb/newest.png')}
#newest:hover, #newest.active {background-image: url('/assets/rustmb/newest_hover.png')}
#random {background-image: url('/assets/rustmb/random.png')}
#random:hover, #random.active {background-image: url('/assets/rustmb/random_hover.png')}
#mostfavs {background-image: url('/assets/rustmb/mostfavs.png')}
#mostfavs:hover, #mostfavs.active {background-image: url('/assets/rustmb/mostfavs_hover.png')}
#mostlikes {background-image: url('/assets/rustmb/mostlikes.png')}
#mostlikes:hover, #mostlikes.active {background-image: url('/assets/rustmb/mostlikes_hover.png')}
#mostdls {background-image: url('/assets/rustmb/mostdls.png')}
#mostdls:hover, #mostdls.active {background-image: url('/assets/rustmb/mostdls_hover.png')}

#uploadsave {background-image: url('/assets/rustmb/uploadsave.png')}
#uploadsave:hover {background-image: url('/assets/rustmb/uploadsave_hover.png')}
#cleanup {background-image: url('/assets/rustmb/cleanup.png')}
#cleanup:hover {background-image: url('/assets/rustmb/cleanup_hover.png')}

.search {padding: 16px; padding-bottom: 0px;}
.search #searchbox {width: 100%; padding: 5px; border: 2px solid; border-color: #595959; border-radius: 4px;}

.topclouds {height: 40px; background-image: url('/assets/rustmb/clouds.svg'); background-color: #4096EE;}

.savetools {padding: 16px 8px;}
.savetools a {margin: 8px; font-weight: bolder;}

.content {padding: 16px 8px; overflow-y: auto; -webkit-box-flex: 1; text-align: center; padding-bottom: 160px;}

.item {width: 128px; height: 125px; margin-left: 2px; margin-right: 2px; display: inline-block; cursor: pointer;}
.item .thumb {width: 128px; height: 100px; border: 2px solid; border-color: #595959; border-radius: 4px; margin-bottom: 1px; background-position: center;}
.item:hover .thumb {border-color: #4096EE}
.item .name {font-size: 11px; font-weight: bolder; text-align: center; white-space: nowrap; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden;}
.item:hover .name {color: #4096EE;}

.item .info {position: fixed; background: rgba(255, 255, 255, 0.9); bottom: 0; left: 0; right: 0; height: 120px; opacity: 1; pointer-events: none; transition: opacity 0.2s linear, bottom 0.2s linear; -webkit-transition: opacity 0.2s linear, bottom 0.2s linear; z-index: 10;}
.item:not(:hover) .info {opacity: 0; bottom: -120px;}
.item .info .clouds {content: " "; height: 40px; background: url('/assets/rustmb/cloudswhite.svg') transparent; width: 100%; position: absolute; top: -40px; left: 0px; right: 0px; animation: swoosh 7.5s linear infinite; -webkit-animation: swoosh 10s linear infinite; opacity: 0.9;}

.metabox {margin-left:10px; margin-right:10px;}
.metabox-left, .metabox-right {height:125px;}
.metabox-left {width: 450px; float: left;}
.metabox-right {margin-left:450px; margin-right:20px;}

.metabox .meta-thumb, .metabox .meta-info, .metabox .meta-desc {display: inline-block; height:125px; margin-top:-10px; position: relative; margin-left:5px; margin-right:5px; overflow: hidden; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; font-weight: bolder;}

.metabox .meta-thumb {width:125px;}
.metabox .meta-thumb .img {width:125px; height:125px; border-radius:3px; border:2px solid #595959; -webkit-box-sizing: border-box; box-sizing: border-box; background-size: contain; background-position: center;}

.metabox .meta-info {width:300px;}
.metabox .meta-info .meta-name {font-weight: bold; font-size:18px; margin-bottom:53px; max-height: 72px; overflow: hidden;}

.metabox .meta-info .meta-user {height:48px; position: absolute; bottom:0; width:100%;}
.metabox .meta-info .meta-user img {width:48px; height:48px; float: left;}
.metabox .meta-info .meta-user .meta-uploaded, .metabox .meta-info .meta-user .meta-username {font-size:13px; margin-left:48px; padding-left:8px; line-height:24px;}

.metabox .meta-desc {background:rgba(184, 227, 255, 0.6); padding:10px; font-size:15px; border-radius:8px; width:100%;}

.saveform {padding: 16px 8px;}
.saveform label {display: block;}

.saveform input {border: 2px solid; border-color: #595959; border-radius: 4px;}

.bottomclouds {width: 100%; height: 40px; position: fixed; bottom: 0px; background-image: url('/assets/rustmb/cloudswhite.svg'); opacity: 0.25; pointer-events: none;}

.topclouds {animation: swoosh 10s linear infinite; -webkit-animation: swoosh 10s linear infinite;}
.bottomclouds {animation: swoosh 5s linear infinite; -webkit-animation: swoosh 5s linear infinite;}
@keyframes swoosh {0% {background-position: 318px;} 100% {background-position: 0px;}}
@-webkit-keyframes swoosh {0% {background-position: 318px;} 100% {background-position: 0px;}}

::-webkit-scrollbar {background-color:#4096EE; border-radius:4px;}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {background-color:white; border:2px solid #595959;}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {background-color:#B8E3FF;}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active {border-color:#4096EE;}
::-webkit-scrollbar-button:decrement {border-radius:4px 4px 0px 0px; background-position:3px 4px; background-repeat: no-repeat; background-image: url('/assets/darth/scrollup.gif');}
::-webkit-scrollbar-button:decrement:active {background-image: url('/assets/darth/scrollup_active.gif')}
::-webkit-scrollbar-button:increment {border-radius:0px 0px 4px 4px; background-position:3px 5px; background-repeat: no-repeat; background-image: url('/assets/darth/scrolldown.gif');}
::-webkit-scrollbar-button:increment:active {background-image: url('/assets/darth/scrolldown_active.gif')}
