body {margin: 0px; font-family: Helvetica; background-color: #A1DAFF; color: #333; height: 100%; display: -webkit-box; -webkit-box-orient: vertical;}
a {color: #333; text-decoration: none;}
a:hover {color: #fff;}
h1 {margin-left: 10px;}

.header {width: 100%; background-color: #4096EE; display: -webkit-box; overflow: hidden;}
.navbar {margin: 0;}
.navbar a {float: left; width: 64px; height: 50px; overflow: hidden; font-size: 11px; text-align: center; margin-top: 10px; margin-left: 4px; font-weight: bolder; text-decoration: none; background-size: contain; background-size: 32px 32px; background-repeat: no-repeat; background-position: center 0px;}
.navbar .navbutton {width: 32px; height: 32px; margin-bottom: 2px; display: inline-block;}
.navbar .disabled {opacity: 0.25; pointer-events: none;}

#mine {background-image: url('/assets/rustmb/mine.png');}
#mine:hover {background-image: url('/assets/rustmb/mine_hover.png');}
#entity {background-image: url('/assets/rustmb/entity.png');}
#entity:hover {background-image: url('/assets/rustmb/entity_hover.png');}
#weapon {background-image: url('/assets/rustmb/weapon.png');}
#weapon:hover {background-image: url('/assets/rustmb/weapon_hover.png');}
#prop {background-image: url('/assets/rustmb/prop.png');}
#prop:hover {background-image: url('/assets/rustmb/prop_hover.png');}
#savemap {background-image: url('/assets/rustmb/savemap.png');}
#savemap:hover {background-image: url('/assets/rustmb/savemap_hover.png');}
#map {background-image: url('/assets/rustmb/map.png');}
#map:hover {background-image: url('/assets/rustmb/map_hover.png');}

#prev {background-image: url('/assets/rustmb/leftarrow.png')}
#prev:hover {background-image: url('/assets/rustmb/leftarrow_hover.png')}
#next {background-image: url('/assets/rustmb/rightarrow.png')}
#next:hover {background-image: url('/assets/rustmb/rightarrow_hover.png')}

.search {text-align: right; padding: 16px;}
.search #searchbox {padding: 5px; border: 2px solid; border-color: #595959; border-radius: 4px; float: right;}

.underheader {height: 40px; background: url('/assets/rustmb/clouds.svg'); background-repeat: repeat-x; background-color: #4096EE;}

.savetools {padding: 16px 8px;}
.savetools a {margin: 8px; font-weight: bolder;}

.content {padding: 16px 8px; overflow-y: auto; -webkit-box-flex: 1; text-align: center;}

.item {margin-left: 2px; margin-right: 2px; display: inline-block; width: 128px; height: 125px;}
.item .thumb {width: 128px; height: 100px; border: 2px solid; border-color: #595959; border-radius: 4px; margin-bottom: 1px;}
.item .name {font-size: 11px; font-weight: bolder; text-align: center; white-space: nowrap; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden;}

.thumb {background-position: center;}

.saveform {padding: 16px 8px;}
.saveform label {display: block;}

.underfooter {height: 40px; background: url('/assets/rustmb/cloudswhite.svg'); background-repeat: repeat-x; background-color: #A1DAFF; opacity: 0.5;}
