body {height: 100%; margin: 0px; font-family: Helvetica; background-color: #B8E3FF; color: #333; display: -webkit-box; -webkit-box-orient: vertical;}
a {color: #333; text-decoration: none;}
a:hover {color: #FFF;}
h1 {margin-left: 10px;}

.header {width: 100%; background-color: #4096ee; display: -webkit-box; overflow: hidden;}
.navbar {margin: 0;}
.navbar a {width: 64px; height: 50px; float: left; overflow: hidden; font-size: 11px; text-align: center; margin-top: 10px; margin-left: 4px; font-weight: bolder; text-decoration: none; background-size: contain; background-size: 32px 32px; background-repeat: no-repeat; background-position: center 0px;}
.navbar .navbutton {width: 32px; height: 32px; margin-bottom: 2px; display: inline-block;}
.navbar .disabled {opacity: 0.25; pointer-events: none;}

#mine {background-image: url('/assets/rustmb/mine.png');}
#mine:hover {background-image: url('/assets/rustmb/mine_hover.png');}
#entity {background-image: url('/assets/rustmb/entity.png');}
#entity:hover {background-image: url('/assets/rustmb/entity_hover.png');}
#weapon {background-image: url('/assets/rustmb/weapon.png');}
#weapon:hover {background-image: url('/assets/rustmb/weapon_hover.png');}
#prop {background-image: url('/assets/rustmb/prop.png');}
#prop:hover {background-image: url('/assets/rustmb/prop_hover.png');}
#savemap {background-image: url('/assets/rustmb/savemap.png');}
#savemap:hover {background-image: url('/assets/rustmb/savemap_hover.png');}
#map {background-image: url('/assets/rustmb/map.png');}
#map:hover {background-image: url('/assets/rustmb/map_hover.png');}

#prev {background-image: url('/assets/rustmb/leftarrow.png')}
#prev:hover {background-image: url('/assets/rustmb/leftarrow_hover.png')}
#next {background-image: url('/assets/rustmb/rightarrow.png')}
#next:hover {background-image: url('/assets/rustmb/rightarrow_hover.png')}

.search {padding: 16px; padding-bottom: 0px;}
.search #searchbox {width: 100%; padding: 5px; border: 2px solid; border-color: #595959; border-radius: 4px;}

.underheader {height: 40px; background-image: url('/assets/rustmb/clouds.svg'); background-color: #4096EE;}

.savetools {padding: 16px 8px;}
.savetools a {margin: 8px; font-weight: bolder;}

.content {padding: 16px 8px; overflow-y: auto; -webkit-box-flex: 1; text-align: center;}

.item {width: 128px; height: 125px; margin-left: 2px; margin-right: 2px; display: inline-block;}
.item .thumb {width: 128px; height: 100px; border: 2px solid; border-color: #595959; border-radius: 4px; margin-bottom: 1px; background-position: center;}
.item:hover .thumb {border-color: #4096EE}
.item .overlay {background-color: rgba(0, 0, 0, 0.5); opacity: 0;}
.item:hover .overlay {opacity: 1;}
.item .overlay span {width: 128px; height: 100px; box-sizing: border-box; padding: 4px; font-size: 11px; overflow-wrap: break-word; overflow: hidden; display: block;}
.item .name {font-size: 11px; font-weight: bolder; text-align: center; white-space: nowrap; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden;}
.item:hover .name {color: #4096EE;}

.saveform {padding: 16px 8px;}
.saveform label {display: block;}

.saveform input {border: 2px solid; border-color: #595959; border-radius: 4px;}

.bottomclouds {width: 100%; height: 40px; position: fixed; bottom: 0px; background-image: url('/assets/rustmb/cloudswhite.svg'); opacity: 0.25; pointer-events: none;}

.underheader {animation: swoosh 30s linear infinite; -webkit-animation: swoosh 30s linear infinite;}
.bottomclouds {animation: swoosh 10s linear infinite; -webkit-animation: swoosh 10s linear infinite;}
@keyframes swoosh {100% {background-position: 0px;} 0% {background-position: 318px;}}
@-webkit-keyframes swoosh {100% {background-position: 0px;} 0% {background-position: 318px;}}
