<html>
	<head>
		<title>reboxed - Save Published</title>
		<link rel="stylesheet" href="/assets/reboxed.css">
	</head>
	<body>
		<div class="header" style="height: 50px;"></div>
		<div class="underheader"></div>
		<div class="saveform">
			<h1>Published!</h1>
			Your saved game has been published.
		</div>
	</body>
	<div class="bottomclouds"></div>
</html>
