<html>
	<head>
		<title>reboxed - Save Published</title>
		<link rel="stylesheet" href="/assets/reboxed.css">
	</head>
	<body>
		<div class="nav">
			<span id="logo">reboxed</span>
		</div>
		<div class="saveform">
			<h1>Published!</h1>
			Your saved game has been published.
		</div>
	</body>
</html>
