<html>
	<head>
		<title>Cloudbox</title>
		<link rel="stylesheet" href="/assets/cloudbox.css" type="text/css">
	</head>
	<body>
		<div class="header">
			<div class="navbar">
				{{if or (not .InGame) (ne .Category "map")}}
					{{if .InGame}}
						<a href="/browse/mine" id="mine"{{if eq .SteamID ""}} class="disabled"{{end}}{{if eq .Category "mine"}} class="active"{{end}}><div class="navicon"></div><br>Mine<br></a>
					{{end}}
					<a href="/browse/entities" id="entity"{{if eq .Category "entity"}} class="active"{{end}}><div class="navicon"></div><br>Entities</a>
					<a href="/browse/weapons" id="weapon"{{if eq .Category "weapon"}} class="active"{{end}}><div class="navicon"></div><br>Weapons</a>
					<a href="/browse/props" id="prop"{{if eq .Category "prop"}} class="active"{{end}}><div class="navicon"></div><br>Props</a>
					<a href="/browse/saves" id="savemap"{{if eq .Category "savemap"}} class="active"{{end}}><div class="navicon"></div><br>Saves</a>
					{{if not .InGame}}
						<a href="/browse/maps" id="map"{{if eq .Category "map"}} class="active"{{end}}><div class="navicon"></div><br>Maps</a>
					{{end}}
				{{end}}
			</div>
			<div class="search" style="-webkit-box-flex: 1; width: 100%;">
				<form>
					<input id="searchbox" name="search" placeholder="Search" value="{{.Search}}" {{if .InGame}}onclick="window.location='gmod\://startspawnmenufocus/'" onmouseout="window.location='gmod\://endspawnmenufocus/'"{{end}}>
				</form>
			</div>
			<div class="navbar">
				<a href="{{.PrevLink}}{{if ne .Sort ""}}&sort={{.Sort}}{{end}}" id="prev"{{if eq .PrevLink "#"}} class="disabled"{{end}}><div class="navicon"></div><br>Previous</a>
				<a href="{{.NextLink}}{{if ne .Sort ""}}&sort={{.Sort}}{{end}}" id="next"{{if eq .NextLink "#"}} class="disabled"{{end}}><div class="navicon"></div><br>Next</a>
			</div>
		</div>
		<div class="header">
			<div class="subbar">
				<a href="?sort=newest" id="newest"{{if eq .Sort "newest"}} class="active"{{end}}><span>Newest</span></a>
				<a href="?sort=random" id="random"{{if eq .Sort "random"}} class="active"{{end}}><span>Random</span></span></a>
				<a href="?sort=mostfavs" id="mostfavs"{{if eq .Sort "mostfavs"}} class="active"{{end}}><span>Most Favorite</span></a>
				<a href="?sort=mostlikes" id="mostlikes"{{if eq .Sort "mostlikes"}} class="active"{{end}}><span>Most Liked</span></a>
				<a href="?sort=mostdls" id="mostdls"{{if eq .Sort "mostdls"}} class="active"{{end}}><span>Most Used</span></a>
			</div>
				{{if and (.InGame) (eq .Category "savemap")}}
					<div style="-webkit-box-flex: 1; width: 100%;"></div>
					<div class="subbar">
						<a href="garrysmod://action/save" id="uploadsave"{{if eq .SteamID ""}} class="disabled"{{end}}><span>Upload</span></a>
						<a href="garrysmod://action/clean" id="cleanup"><span>Cleanup</span></a>
					</div>
				{{end}}
			</div>
		</div>
		<div class="topclouds"></div>
		<div class="content">
			{{range .Packages}}
				{{if and ($.InGame) (eq $.Category "savemap") (ne $.MapName .Dataname)}}
					{{continue}}
				{{end}}
				<div class="item">
					<a {{if $.InGame}}href="garrysmod://{{if (eq .Type "map")}}install{{else}}spawn{{end}}/{{.Type}}/{{.ID}}/{{.Revision}}"{{else}}onclick="cloudbox.GetPackage('{{.Type}}', {{.ID}}, {{.Revision}})"{{end}}>
						<div class="thumb" style="background-image: url('//img.cl0udb0x.com/{{.ID}}_thumb_128.png'), url('/assets/rustmb/missing.svg');"></div>
						<div class="name">
							{{.Name}}
						</div>
					</a>
					<div class="info">
						<div class="clouds"></div>
							<div class="metabox">
								<div class="metabox-left">
								<div class="meta-thumb"><div class="img" style="background-image: url('//img.cl0udb0x.com/{{.ID}}_thumb_128.png'), url('/assets/rustmb/missing.svg');"></div></div>
									<div class="meta-info">
										<div class="meta-name">{{.Name}}</div>
										<div class="meta-user">
											{{if lt .ID 200000}}
												<img src="/assets/gmodpink.png">
												<div class="meta-uploaded">Uploaded on Toybox, by</div>
											{{else}}
												<img src="{{StripHTTPS .AuthorIcon}}">
												<div class="meta-uploaded">Uploaded {{.Uploaded.Format "02 January 2006"}}, by</div>
											{{end}}
											<div class="meta-username">{{if eq .AuthorName ""}}Unknown{{else}}{{.AuthorName}}{{end}}</div>
										</div>
									</div>
								</div>
							<div class="metabox-right">
								{{if ne .Description ""}}
									<div class="meta-desc">{{.Description}}</div>
								{{end}}
							</div>
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</body>
	<div class="bottomclouds"></div>
</html>
